@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    background-image: url("../images/winter-r.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center, center;
}

h1 {
    font-size: 50px;
    font-weight: normal;
    margin-left: 25px;
}

.countdown-container {
    padding: 85px 550px 0 0;
    display: flex;
    justify-content: space-around;
}

.indicator {
    text-align: center;
}

p {
    font-size: 85px;
}

span {
    font-size: 20px;
    font-weight: 500;
}